<% include partials/adminheader.ejs %>
<% if ( typeof message != 'undefined') { %>

         <script>alert('<%= message %>');</script>
        <% } %>

         <!-- row -->
            <div class="row tm-content-row tm-mt-big">
                <div class="tm-col tm-col-big">
                    <div class="bg-white tm-block h-100">
                        <h2 class="tm-block-title" id="totaldaily">Total Collection Today</h2>
                      
                    </div>
                </div>
                <div class="tm-col tm-col-big">
                    <div class="bg-white tm-block h-100">
                        <h2 class="tm-block-title"id="totlamonthly">Total Collection Monthly</h2>
                        
                    </div>
                </div>       
<!-- 
client top name 

-->
                <div class="tm-col tm-col-big">
                    <div class="bg-white tm-block h-100">
                        <div class="row">
                            <div class="col-8">
                                <h2 class="tm-block-title d-inline-block">Top Customer List</h2>

                            </div>
                            <div class="col-4 text-right">
                                <a href="#" class="tm-link-black">View All</a>
                            </div>
                        </div>
                        <ol class="tm-list-group tm-list-group-alternate-color tm-list-group-pad-big">
                            <li class="tm-list-group-item">
                                Donec eget libero
                            </li>
                            <li class="tm-list-group-item">
                                Nunc luctus suscipit elementum
                            </li>
                            <li class="tm-list-group-item">
                                Maecenas eu justo maximus
                            </li>
                            <li class="tm-list-group-item">
                                Pellentesque auctor urna nunc
                            </li>
                            <li class="tm-list-group-item">
                                Sit amet aliquam lorem efficitur
                            </li>
                            <li class="tm-list-group-item">
                                Pellentesque auctor urna nunc
                            </li>
                            <li class="tm-list-group-item">
                                Sit amet aliquam lorem efficitur
                            </li>
                        </ol>
                    </div>
                </div>
               <div class="col-xl-6 col-lg-6 tm-md-6 tm-sm-6 tm-col">
                    <div class="bg-white tm-block h-100">
                        <div class="row">
                            
                            must something informative 
							
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover table-striped tm-table-striped-even mt-3">
                                <thead>
                                    <tr class="tm-bg-gray">
                                        <th scope="col">&nbsp;</th>
                                        <th scope="col">Product Name</th>
                                        <th scope="col" class="text-center">Units Sold</th>
                                        <th scope="col" class="text-center">In Stock</th>
                                        <th scope="col">Expire Date</th>
                                        <th scope="col">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                       
                                        <td class="tm-product-name">1. In malesuada placerat (hover)</td>
                                        <td class="text-center">145</td>
                                        <td class="text-center">255</td>
                                        <td>2018-10-28</td>
                                        <td><i class="fas fa-trash-alt tm-trash-icon"></i></td>
                                    </tr>
                                    <tr>
                                        
                                        <td class="tm-product-name">2. Aenean eget urna enim. Sed enim</td>
                                        <td class="text-center">240</td>
                                        <td class="text-center">260</td>
                                        <td>2018-10-24</td>
                                        <td><i class="fas fa-trash-alt tm-trash-icon"></i></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <input type="checkbox" aria-label="Checkbox">
                                        </th>
                                        <td class="tm-product-name">3. Vivamus convallis tincidunt nisi</td>
                                        <td class="text-center">360</td>
                                        <td class="text-center">440</td>
                                        <td>2019-02-14</td>
                                        <td><i class="fas fa-trash-alt tm-trash-icon"></i></td>
                                    </tr>
                                    <tr>
                                        <td class="tm-product-name">4. Donec semper massa eget</td>
                                        <td class="text-center">445</td>
                                        <td class="text-center">655</td>
                                        <td>2019-03-22</td>
                                        <td><i class="fas fa-trash-alt tm-trash-icon"></i></td>
                                    </tr>
                                    <tr>
                                       
                                        <td class="tm-product-name">5. Donec semper massa eget</td>
                                        <td class="text-center">445</td>
                                        <td class="text-center">655</td>
                                        <td>2019-03-22</td>
                                        <td><i class="fas fa-trash-alt tm-trash-icon"></i></td>
                                    </tr>

                                    <tr>
                                       
                                        <td class="tm-product-name">6. Donec semper massa eget</td>
                                        <td class="text-center">445</td>
                                        <td class="text-center">655</td>
                                        <td>2019-03-22</td>
                                    
                                    </tr>
                                    
                                    <tr>
                                        <th scope="row">
                                            <input type="checkbox" aria-label="Checkbox">
                                        </th>
                                        <td class="tm-product-name">7. Donec semper massa eget</td>
                                        <td class="text-center">445</td>
                                        <td class="text-center">655</td>
                                        <td>2019-03-22</td>
                                    
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <input type="checkbox" aria-label="Checkbox">
                                        </th>
                                        <td class="tm-product-name">8. Donec semper massa eget</td>
                                        <td class="text-center">445</td>
                                        <td class="text-center">655</td>
                                        <td>2019-03-22</td>
                                    
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        
                    </div>
                </div>
            </div>
         <script>
		 
		 </script>
		  
   <% include partials/adminfooter.ejs %>s