<!DOCTYPE HTML>
<html>
 <% include partials/officerheader.ejs %>
 <% include partials/officer_session.ejs %>
 
   <% if ( usertype == 1) { %>
    <script>
    window.location = "/admindashboard";
</script>
<%}else if( usertype == 2){%>
<script>
window.location = "/customer";
   </script>
<%}else if(usertype == 3)
{%>
    <script>
window.location = "/officer";
</script>

<%}else{%>
    <script>
    //window.location = "/";
    </script>
<%}%>
	<body>
	
	<div id="colorlib-page">
		<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
		<aside id="colorlib-aside" role="complementary" class="border js-fullheight">
			<h1 id="colorlib-logo"><a href="home.html">BSR</a></h1>
			<nav id="colorlib-main-menu" role="navigation">
				<ul>
					<li class="colorlib-active"><a href="/">Home</a></li>
					<li><a href="product">Product</a></li>
					<li><a href="loginpage">Login</a></li>
					<li><a href="about">About</a></li>
					<li><a href="service">Services</a></li>
					<li><a href="contact">Contact</a></li>
				</ul>
			</nav>
	
	<div class="colorlib-footer">
				<p><small>&copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This Portal is made BY Shaunak pathak and kush joshi contatct us (psshaunak1998@gmail.com)</small></p>
				
			</div>
		

		</aside>

		<div id="colorlib-main">
			<aside id="colorlib-hero" class="js-fullheight">
				<div class="flexslider js-fullheight">
					<ul class="slides">
				   	<li style="background-image: url(images/tv_2019_2.jpg);">
				   		<div class="overlay"></div>
				   		<div class="container-fluid">
				   			<div class="row">
					   			<div class="col-md-6 col-md-offset-3 col-md-push-3 col-sm-12 col-xs-12 js-fullheight slider-text">
					   				<div class="slider-text-inner">
					   					<div class="desc">
						   					<h1>BSR  24"</h1>
						   					<h2>Full HD A grade Panle
USB with Mp3 and full HD-video playback
Wide viewing Angle
                                            <br>
                                            MRP : 9,500 Inr<br>
1 year extended guarantee : 750 Rs.</h2>
													</div>
					   				</div>
					   			</div>
					   		</div>
				   		</div>
				   	</li>
				   	<li style="background-image: url(images/tv_2019_3.jpg);">
				   		<div class="overlay"></div>
				   		<div class="container-fluid">
				   			<div class="row">
					   			<div class="col-md-6 col-md-offset-3 col-md-push-3 col-sm-12 col-xs-12 js-fullheight slider-text">
					   				<div class="slider-text-inner">
					   					<div class="desc">
                                            <h1>BSR  SMART 65"</h1>
												<h2>Full HD A grade Panle
Wide viewing Angle
                                            <br>
                                                    MRP : 21,500 Inr<br>
1 year extended guarantee : 1,550 Rs.
                                            </h2>
												
                                        </div>
					   				</div>
					   			</div>
					   		</div>
				   		</div>
				   	</li>
				   	<li style="background-image: url(images/tv_2019_4.jpg);">
				   		<div class="overlay"></div>
				   		<div class="container-fluid">
				   			<div class="row">
					   			<div class="col-md-6 col-md-offset-3 col-md-push-3 col-sm-12 col-xs-12 js-fullheight slider-text">
					   				<div class="slider-text-inner">
					   					<div class="desc">
						   					<h1>BSR  SMART 50"</h1>
												<h2>Full HD A grade Panle
Wide viewing Angle
                                                    <br>
                                                    MRP : 36,500 Inr<br>
1 year extended guarantee : 1,850 Rs.
                                            </h2>
												
											</div>
					   				</div>
					   			</div>
					   		</div>
				   		</div>
				   	</li>
					
				   	<li style="background-image: url(images/tv7.jpeg);">
				   		<div class="overlay"></div>
				   		<div class="container-fluid">
				   			<div class="row">
					   			<div class="col-md-6 col-md-offset-3 col-md-push-3 col-sm-12 col-xs-12 js-fullheight slider-text">
					   				<div class="slider-text-inner">
					   					<div class="desc"><h1>BSR  SMART 65"</h1>
												<h2>Full HD A grade Panle
Wide viewing Angle
                                                    <br>
                                        MRP : 79,500 Inr<br>
1 year extended guarantee : 2,550 Rs.            
                                            </h2>		
                                            	
											</div>
					   				</div>
					   			</div>
					   		</div>
				   		</div>
				   	</li>
				  	</ul>
			  	</div>
			</aside>

			<div class="colorlib-about">
				<div class="colorlib-narrow-content">
					<div class="row">
						<div class="col-md-6">
							<div class="about-img animate-box" data-animate-effect="fadeInLeft" style="background-image: url(images/slider2.jpg);">
							</div>
						</div>
						<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
							<div class="about-desc">
								<span class="heading-meta">Welcome</span>
								<h2 class="colorlib-heading">Who we are</h2>
								<p></p>
								<p> BAPA SITARAM ELECTROFIN PVT LTD is one of the fastest growing electronics and micro finance startup of GUJARAT, INDIA. It has presents in the market from the year 2014. Currently company is working on giving new digital era to the customer or viewer of LED TV. We have created almost the best thin TV in size to give you the best of BSR PRODUCTS Directors Call. Cost effective products which can give full satisfaction to the customer is company's strategy. Company wants to make every customer a loyal and a happy customer who can proud of purchasing a BSR product either its ELECTRONICS or FINANCE. Right now we have lot more to prove. And we are working on it. As our logo describe we want to grow as a big tree under which lots of customers can grow their life...!!</p>
							</div>
							<div class="row padding">
								<div class="col-md-4 no-gutters animate-box" data-animate-effect="fadeInLeft">
									<a class="steps active">
										<p class="icon"><span><i class="icon-check"></i></span></p>
										<h3>We are <br>pasionate</h3>
									</a>
								</div>
								<div class="col-md-4 no-gutters animate-box" data-animate-effect="fadeInLeft">
									<a  class="steps">
										<p class="icon"><span><i class="icon-check"></i></span></p>
										<h3>Honest <br>Dependable</h3>
									</a>
								</div>
								<div class="col-md-4 no-gutters animate-box" data-animate-effect="fadeInLeft">
									<a  class="steps">
										<p class="icon"><span><i class="icon-check"></i></span></p>
										<h3>Always <br>Improving</h3>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			
			<div id="colorlib-counter" class="colorlib-counters" style="background-image: url(images/cover_bg_1.jpg);" data-stellar-background-ratio="0.5">
				<div class="overlay"></div>
				<div class="colorlib-narrow-content">
					<div class="row">
					</div>
					<div class="row">
						<div class="col-md-4 text-center animate-box">
							<span class="icon"><i class="flaticon-skyline"></i></span>
							<span class="colorlib-counter js-counter" data-from="0" data-to="1800" data-speed="5000" data-refresh-interval="50"></span>
							<span class="colorlib-counter-label">Active loan</span>
						</div>
						<div class="col-md-4 text-center animate-box">
							<span class="icon"><i class="flaticon-engineer"></i></span>
							<span class="colorlib-counter js-counter" data-from="0" data-to="300" data-speed="5000" data-refresh-interval="50"></span>
							<span class="colorlib-counter-label">Offilcers</span>
						</div>
						<div class="col-md-4 text-center animate-box">
							<span class="icon"><i class="flaticon-architect-with-helmet"></i></span>
							<span class="colorlib-counter js-counter" data-from="0" data-to="1400" data-speed="5000" data-refresh-interval="50"></span>
							<span class="colorlib-counter-label">Happy Clients</span>
						</div>
						
					</div>
				</div>
			</div>

			
	</body>
 <% include partials/officerfooter.ejs %>
</html>

